{% extends 'base.html.twig' %}

{% block title %}Mon Eportfolio{% endblock %}

{% block body %}

<div class="title-container">
    <h1 class="mt-4">Mon E-Portfolio</h1>
</div>

    <div class="container">
        <section class="header">
            <div class="header-content">
                <h1>Administrer les réseaux et l'Internet</h1>
                <p>Maîtriser les lois fondamentales de l’électricité afin d’intervenir sur des équipements de réseaux et télécommunications</p>
            </div>
            <div class="button-wrapper">
                <a href="/ODT/AppCrit1.odt" class="btn btn-primary" id="download-button" download>En savoir plus</a>
            </div>
        </section>

        <section class="header">
            <div class="header-content">
                <h1>Administrer les réseaux et l'Internet</h1>
                <p>Maîtriser les rôles et les principes fondamentaux des systèmes d’exploitation afin d’interagir avec ceux-ci pour la configuration et l’administration des réseaux et services fournis</p>
            </div>
            <div class="button-wrapper">
                <a href="/ODT/AppCrit2.odt" class="btn btn-primary" id="download-button" download>En savoir plus</a>
            </div>
        </section>

        <section class="header">
            <div class="header-content">
                <h1>Connecter les entreprises et les usagers</h1>
                <p>Mesurer et analyser les signaux</p>
            </div>
            <div class="button-wrapper">
                <a href="/ODT/AppCrit3.odt" class="btn btn-primary" id="download-button" download>En savoir plus</a>
            </div>
        </section>

        <section class="header">
            <div class="header-content">
                <h1>Connecter les entreprises et les usagers</h1>
                <p>Caractériser des systèmes de transmissions élémentaires et découvrir la modélisation mathématique de leur fonctionnement</p>
            </div>
            <div class="button-wrapper">
                <a href="/ODT/AppCrit4.odt" class="btn btn-primary" id="download-button" download>En savoir plus</a>
            </div>
        </section>

        <section class="header">
            <div class="header-content">
                <h1>Connecter les entreprises et les usagers</h1>
                <p>Déployer des supports de transmission</p>
            </div>
            <div class="button-wrapper">
                <a href="/ODT/AppCrit5.odt" class="btn btn-primary" id="download-button" download>En savoir plus</a>
            </div>
        </section>

        <section class="header">
            <div class="header-content">
                <h1>Connecter les entreprises et les usagers</h1>
                <p>Communiquer avec un tiers (client, collaborateur...) et adapter son discours et sa langue à son interlocuteur</p>
            </div>
            <div class="button-wrapper">
                <a href="/ODT/AppCrit6.odt" class="btn btn-primary" id="download-button" download>En savoir plus</a>
            </div>
        </section>

                <section class="header">
            <div class="header-content">
                <h1>Créer des outils et des applis informatiques pour les R&T</h1>
                <p>Utiliser un système informatique et ses outils</p>
            </div>
            <div class="button-wrapper">
                <a href="/ODT/AppCrit7.odt" class="btn btn-primary" id="download-button" download>En savoir plus</a>
            </div>
        </section>

        <section class="header">
            <div class="header-content">
                <h1>Créer des outils et des applis informatiques pour les R&T</h1>
                <p>Lire, exécuter, corriger et modifier un programme</p>
            </div>
            <div class="button-wrapper">
                <a href="/ODT/AppCrit8.odt" class="btn btn-primary" id="download-button" download>En savoir plus</a>
            </div>
        </section>

        <section class="header">
            <div class="header-content">
                <h1>Créer des outils et des applis informatiques pour les R&T</h1>
                <p>Traduire un algorithme, dans un langage et pour un environnement donné</p>
            </div>
            <div class="button-wrapper">
                <a href="/ODT/AppCrit9.odt" class="btn btn-primary" id="download-button" download>En savoir plus</a>
            </div>
        </section>

        <section class="header">
            <div class="header-content">
                <h1>Créer des outils et des applis informatiques pour les R&T</h1>
                <p>Connaître l’architecture et les technologies d’un site Web</p>
            </div>
            <div class="button-wrapper">
                <a href="/ODT/AppCrit10.odt" class="btn btn-primary" id="download-button" download>En savoir plus</a>
            </div>
        </section>
    </div>

    <div class="footer">
        <p>&copy; 2025 Tavernier Noa - Tous droits réservés.</p>
        <p>Mentions Légales</p>
    </div>
</div>
{% endblock %}

{% block stylesheets %}
    <style>
        body, html {
            height: 100%;
            margin: 0;
            display: flex;
            flex-direction: column;
        }
        .container {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(3, auto);
            gap: 40px;
            width: 95%;
            max-width: 1400px;
            margin: 0 auto;
        }

        .title-container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100px;
            margin-top: 20px;
            margin-bottom: 120px;
        }

        h1.mt-4 {
            text-align: center;
            color: white;
            font-size: 5vw;
            

        }

        h1{
            color: rgba(5, 43, 124, 0.8);
            
        }

        p{
            color: rgba(30, 85, 204, 0.8);
            
        }

        .footer {
            background-color: #333;
            color: white;
            text-align: center;
            padding: 20px;
            width: 100%;
        }

        .footer a {
            color: #fff;
            text-decoration: none;
        }

        .footer p {
            color: white;
            text-decoration: none;
        }

        .footer a:hover {
            text-decoration: underline;
        }

        .header {
            background-color: rgba(255, 255, 255, 0.8);
            padding: 30px;
            border-radius: 10px;
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
            width: 90%;
            margin: 0 auto;
            height: 300px;
            text-align: center;
        }
        .header-content h1 {
            font-size: 2.5em;
        }

        .header-image {
            max-width: 150px;
            border-radius: 8px;
        }

        section {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background-color: rgba(255, 255, 255, 0.7);
            padding: 40px;
            border-radius: 12px;
            box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
            height: 300px;
            max-width: 100%;
            width: 90%;
            transition: transform 0.3s ease, box-shadow 0.3s ease;
        }

        section:hover {
            transform: scale(1.05);
            box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3);
        }

    </style>
{% endblock %}
