{% extends 'base.html.twig' %}

{% block title %}Mon Eportfolio{% endblock %}

{% block body %}
<div class="page-container">
    <div class="container text-center">
        <h1 class="mt-4">Bienvenue sur mon <p>E-Portfolio</p></h1>

        <div class="content-box">
            <p class="titre-box">Tavernier Noa RT1 A2</p>
            <p class="text-box">Je suis un étudiant en première année de Réseaux et Télécommunications à l'IUT de Roanne. Passionné par la programmation, les technologies et les innovations dans le domaine des réseaux, je vous invite à en savoir plus à propos de moi.</p>
        </div>

        <a href="/passion" class="btn-custom">En savoir plus</a>
    </div>

    <footer class="footer">
        <p>&copy; 2025 Tavernier Noa - Tous droits réservés.</p>
        <p>Mentions Légales</p>
    </footer>
</div>
{% endblock %}

{% block stylesheets %}
    <style>
        .page-container {
            display: flex;
            flex-direction: column;
            min-height: 100vh;
        }

        .container {
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .content-box {
            background-color: rgba(255, 255, 255, 0.7);
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
            max-width: 80%;
            margin: 50px auto 20px auto;
            
        }

        h1 {
            font-size: 5vw;
            margin-top: 2rem;
            color: #fff;
            opacity: 0.9;
        }

        .titre-box {
            color: #333;
            line-height: 1.6;
            font-size: 2rem;
        }

        .text-box {
            color: #333;
            line-height: 1.6;
            font-size: 1.2rem;
        }

        .btn-custom {
            background-color: #007bff;
            color: white;
            padding: 10px 20px;
            font-size: 1rem;
            border: none;
            border-radius: 5px;
            transition: background-color 0.3s ease;
            text-decoration: none;
            margin-top: 20px;
        }

        .btn-custom:hover {
            background-color: #0056b3;
            cursor: pointer;
        }

        .footer {
            background-color: #333;
            color: white;
            text-align: center;
            padding: 20px;
            width: 100%;
        }

        .footer a {
            color: #fff;
            text-decoration: none;
        }

        .footer a:hover {
            text-decoration: underline;
        }
    </style>
{% endblock %}
