{% extends 'base.html.twig' %}

{% block title %}Mon Eportfolio{% endblock %}

{% block stylesheets %}
    <style>
        body, html {
            height: 100%;
            margin: 0;
            text-align: center;
            font-family: 'futura', Arial, sans-serif;
        }

        h1 {
            font-size: 5vw;
            margin-top: 2rem;
            font-family: 'futura', Arial, sans-serif;
        }

        .example-wrapper {
            padding: 2rem; /* Ajout d'un padding pour aérer */
        }

        .navbar {
            font-family: 'futura', Arial, sans-serif;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="mt-4">Salut {{ controller_name }}! ✅</h1>

        <div class="example-wrapper">
            This friendly message is coming from:
            <ul>
                <li>Your controller at <code>C:/Users/noata/Documents/SAE104/Portfolio/src/Controller/PortfolioController.php</code></li>
                <li>Your template at <code>C:/Users/noata/Documents/SAE104/Portfolio/templates/portfolio/index.html.twig</code></li>
            </ul>
        </div>
    </div>
{% endblock %}
