{% extends 'base.html.twig' %}

{% block title %}Mon Eportfolio{% endblock %}

{% block stylesheets %}
    <style>
        body, html {
            height: 100%;
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: flex-start;
            text-align: center;
            font-family: Arial, sans-serif;
            }

            h1 {
            font-size: 5vw;
            margin-top: 10%;
            }
    </style>
{% endblock %}        

{% block body %}


<div class="example-wrapper">
    <h1>Salut {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code>C:/Users/noata/Documents/SAE104/Portfolio/src/Controller/PortfolioController.php</code></li>
        <li>Your template at <code>C:/Users/noata/Documents/SAE104/Portfolio/templates/portfolio/index.html.twig</code></li>
    </ul>
</div>
{% endblock %}
